{% extends "base.html.twig"%}
{% block title %} A propos {% endblock %}

{% block body %} 

    <h1>Les liens et les codes réimplémentés </h2>
    {# <ul class="list-group list-group-flush">
    <h2>Git Hub repositories </h2>
        <li class="list-group-item">Blog - Example ( fait en cours ): <a href="https://github.com/GiorgioSH/test_project_symfony"> https://github.com/GiorgioSH/test_project_symfony </a></li>
        <li class="list-group-item">Project CV ( fait en cours ): <a href="https://github.com/GiorgioSH/project_cv"> https://github.com/GiorgioSH/project_cv </a></li>
        <li class="list-group-item">Repositorie de l'enseignant : <a href="https://github.com/fueledbycoffee/itak_blog_demo"> https://github.com/fueledbycoffee/itak_blog_demo </a></li>
    <h2>Documentation Symfony </h2>
        <li class="list-group-item">La sécurité sur Symfony :  <a href="https://symfony.com/doc/current/security.html"> https://symfony.com/doc/current/security.html </a> </li>
        <li class="list-group-item">Les champs sur easyAdmin : <a href="https://symfony.com/doc/current/bundles/EasyAdminBundle/fields.html"> https://symfony.com/doc/current/bundles/EasyAdminBundle/fields.html </a> </li>
        <li class="list-group-item">Création de compte / "registration" - Défaillant : <a href="https://symfony.com/doc/4.0/doctrine/registration_form.html"> https://symfony.com/doc/4.0/doctrine/registration_form.html </a> </li>
        
        <li class="list-group-item">Les formulaires sur Symfony :  <a href="https://symfony.com/doc/4.0/forms.html"> https://symfony.com/doc/4.0/forms.html </a> </li>
    <h2>Bootswatch </h2>
        <li class="list-group-item">Thème "Minty" :  <a href="https://bootswatch.com/minty"> https://bootswatch.com/minty </a> </li>
        
    </ul> #}
    <ul class="list-group">
        <li class="list-group-item">GIT HUB : </li>

        <li class="list-group-item list-group-item-primary">Blog - Example ( fait en cours ): <a href="https://github.com/GiorgioSH/test_project_symfony"> https://github.com/GiorgioSH/test_project_symfony </a></li>
        <li class="list-group-item list-group-item-primary">Project CV ( fait en cours ): <a href="https://github.com/GiorgioSH/project_cv"> https://github.com/GiorgioSH/project_cv </a></li>  
        <li class="list-group-item list-group-item-primary">Repositorie de l'enseignant : <a href="https://github.com/fueledbycoffee/itak_blog_demo"> https://github.com/fueledbycoffee/itak_blog_demo </a></li>

        <li class="list-group-item">Documentation Symfony : </li>
        <li class="list-group-item list-group-item-info">La sécurité sur Symfony :  <a href="https://symfony.com/doc/current/security.html"> https://symfony.com/doc/current/security.html </a></li>
        <li class="list-group-item list-group-item-info">Les champs sur easyAdmin : <a href="https://symfony.com/doc/current/bundles/EasyAdminBundle/fields.html"> https://symfony.com/doc/current/bundles/EasyAdminBundle/fields.html </a></li>
        <li class="list-group-item list-group-item-info">Création de compte / "registration" - Défaillant : <a href="https://symfony.com/doc/4.0/doctrine/registration_form.html"> https://symfony.com/doc/4.0/doctrine/registration_form.html </a></li>
        <li class="list-group-item list-group-item-info">Les formulaires sur Symfony :  <a href="https://symfony.com/doc/4.0/forms.html"> https://symfony.com/doc/4.0/forms.html </a> </li>

        <li class="list-group-item">Bootswatch : </li>
        <li class="list-group-item list-group-item-warning">Thème "Minty" :  <a href="https://bootswatch.com/minty"> https://bootswatch.com/minty </a></li>

</ul>
{% endblock %}